CloudFileDownloader/CloudFileDownloader/obj/Debug/CloudFileDownloader.pdb
CloudFileDownloader/CloudFileDownloader/obj/Debug/CloudFileDownloader.exe
CloudFileDownloader/CloudFileDownloader/bin/Debug/CloudFileDownloader.pdb
CloudFileDownloader/CloudFileDownloader/bin/Debug/CloudFileDownloader.exe.config
CloudFileDownloader/.vs/CloudFileDownloader/v16/TestStore/0/testlog.manifest
CloudFileDownloader/.vs/CloudFileDownloader/v16/TestStore/0/000-0000.testlog
CloudFileDownloader/.vs/CloudFileDownloader/v16/Server/sqlite3/storage.ide-wal
CloudFileDownloader/.vs/CloudFileDownloader/v16/Server/sqlite3/storage.ide-shm
CloudFileDownloader/CloudFileDownloader/obj/Debug/CloudFileDownloader.csprojAssemblyReference.cache
CloudFileDownloader/CloudFileDownloader/obj/Debug/CloudFileDownloader.csproj.FileListAbsolute.txt
CloudFileDownloader/CloudFileDownloader/bin/Debug/CloudFileDownloader.exe
CloudFileDownloader/.vs/CloudFileDownloader/v16/.suo
CloudFileDownloader/CloudFileDownloader/bin/
CloudFileDownloader/CloudFileDownloader/client_secret_1035074375844-88ilrlps48sd1h2c9dl4muhat0j8kiq4.apps.googleusercontent.com.json
CloudFileDownloader/OneDriveBrowser/bin/
CloudFileDownloader/CloudFileDownloader/obj/
CloudFileDownloader/OneDriveBrowser/obj/
CloudFileDownloader/packages/
