CloudFileDownloader/CloudFileDownloader/obj/Debug/CloudFileDownloader.pdb
CloudFileDownloader/CloudFileDownloader/obj/Debug/CloudFileDownloader.exe
CloudFileDownloader/CloudFileDownloader/bin/Debug/CloudFileDownloader.pdb
CloudFileDownloader/CloudFileDownloader/bin/Debug/CloudFileDownloader.exe.config
CloudFileDownloader/.vs/CloudFileDownloader/v16/TestStore/0/testlog.manifest
CloudFileDownloader/.vs/CloudFileDownloader/v16/TestStore/0/000-0000.testlog
CloudFileDownloader/.vs/CloudFileDownloader/v16/Server/sqlite3/storage.ide-wal
CloudFileDownloader/.vs/CloudFileDownloader/v16/Server/sqlite3/storage.ide-shm
CloudFileDownloader/CloudFileDownloader/obj/Debug/CloudFileDownloader.csprojAssemblyReference.cache
CloudFileDownloader/CloudFileDownloader/obj/Debug/CloudFileDownloader.csproj.FileListAbsolute.txt
CloudFileDownloader/CloudFileDownloader/bin/Debug/CloudFileDownloader.exe
